/* 
.App {
  text-align: center;
  font-family: var(--yfm-font-family);
  background: var(--g-color-bg-page);
  color: var(--g-color-text-primary);
  height: 100vh;
}

.chat-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
} */